#areaLogin{
	margin: 50px auto;
	padding: 0 250px;
}

.myCard{
	max-width: 30rem;
}

.mybutton{
	margin-top: 15px!important;
}

.blue{
	background-color: #007bff!important;
}

.gray{
	background-color: #6c757d!important;
}

.green{
	background-color: #28a745!important;
}

.red{
	background-color: #dc3545!important;	
}

.yellow{
	background-color: #ffc107!important;
}

.cian{
	background-color: #17a2b8!important;
}
.white{
	background-color: #f8f9fa!important;
}

.dark{
	background-color: #343a40!important;
}

.erroreLogin{
	text-align: center;
	border-radius:25px;
	color: white;
	background-color: red;
	margin: 25px auto;
}

.inputAgenda{
	margin: 25px;
}

.errore{
	color: red;
}

.erroreCampo{
	color: red;
}

.icona{
	width: 50px;
}

.icona:hover{
	background-color: red;
	border-radius: 25px;
}

.icon_button{
	width: 25px;
	padding: 2.5px 5px;
	border-width: 0;
	border-radius: 5px;
}

.crescente{
	background-color: green;
}

.crescente:hover{
	background-color: greenyellow;
	cursor:pointer;
}

.decrescente{
	background-color: red;
}

.decrescente:hover{
	background-color: orange;
	cursor:pointer;
}

.icon_button img{
	width: 15px;
}