#areaLogin{
	margin: 50px auto;
	padding: 0 250px;
}

.inputAgenda{
	margin: 25px;
}

.errore{
	color: red;
}

.erroreCampo{
	color: red;
}

.icona{
	width: 50px;
}

.icona:hover{
	background-color: red;
	border-radius: 25px;
}

.icon_button{
	width: 25px;
	padding: 2.5px 5px;
	border-width: 0;
	border-radius: 5px;
}

.crescente{
	background-color: green;
}

.crescente:hover{
	background-color: greenyellow;
	cursor:pointer;
}

.decrescente{
	background-color: red;
}

.decrescente:hover{
	background-color: orange;
	cursor:pointer;
}

.icon_button img{
	width: 15px;
}